<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="reset-password register-container">
            <form method="POST">
                {% csrf_token %}
                <label for="password">Enter password:</label>
                <input type="password" name="password">
                <br>
                <label for="confirm_password">Confirmed Password:</label>
                <input type="password" name="confirm_password">
                <button class="btn" type="submit">Change Password</button>
            </form>
        </div>
    </section>
</body>
</html>