<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Document</title>
</head>
<body>
    
    <section>
        <div>
            <h1>Reset Password</h1>
            <div>
                <p>A link has been sent to you to reset your password</p>
                <p>It will be expired in 10 minutes</p>
            </div>
        </div>
    </section>
</body>
</html>