<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                {% for form in forms %}
                <div>
                    {{ form }}
                </div>
                    
                {% endfor %}
                <button class="btn" type="submit">Update Data</button>
            </form>
        </div>
    </section>
</body>
</html>